@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter Title="My Cool Blazor Component" CurrentValue="@counter"/>

<Alert Show="@(counter > 3)">
  <p>Hey, your counter is bigger than 3!</p>
</Alert>

@code {

  private int counter = 5;

}