
@if (!string.IsNullOrEmpty(Title))
{
  <h3>@Title</h3>
}

<p>@Label : @CurrentValue</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

  [Parameter]
  public string Title { get; set; }

  [Parameter]
  public string Label { get; set; } = "Current Count";

  [Parameter]
  public int CurrentValue { get; set; }

  void IncrementCount()
  {
    CurrentValue += 1;
  }
}
