@if (Show)
{
  <div class="alert alert-warning alert-dismissible fade show"
       role="alert">
    @ChildContent
    <button type="button" class="close" data-dismiss="alert"
            aria-label="Close" @onclick="@Dismiss">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
}


