/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.my-component {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}

.photo-outer-edge {
  border-radius: 5px;
  float: left;
  border: 1px solid black;
}

.photo-inner-edge {
  border-radius: 5px;
  border: 8px solid white;
}